torch>=2.1
torchvision>=0.16
torchdata>=0.11
tensordict>=0.10.0
numpy>=1.24
netifaces>=0.11
pyarrow[flight]>=10
tqdm>=4.66

#torchao>=0.5
#cupy>=12.1
#kvikio>=23.8
#transformer-engine[pytorch]>=2.0
#intel-extension-for-pytorch>=2.3
#ucxx-cu12>=0.45.0
#pyzmq>=25
#onnx>=1.14
#onnx-tf>=1.10.0
#onnx2tf>=1.18.0
#coremltools>=6.3
#tensorrt>=10.0
#executorch>=0.4
#torchscale>=0.3.0
